
body{
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

#app{
  width: 620px;
  max-width: 95vw;
  margin: 0 auto;
  background: white;
  padding: 16px;
  border-radius: 10px;
}

#board{
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  gap: 0;
  width: fit-content;
  margin: 15px auto;
  border: 3px solid #222;
  border-radius: 6px;
  overflow: hidden;
}

.cell{
  width: 50px;
  height: 50px;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  background: #fff;
}


.cell:nth-child(3n):not(:nth-child(9n)){
  border-right-width: 3px;
}
.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54){
  border-bottom-width: 3px;
}


.error{
  background: #ffd6d6;
}

#controls{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

#checkBtn{
  padding: 8px 14px;
  border: 1px solid #222;
  background: #222;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#status{
  margin: 10px 0 0;
}
